.owl-carousel .owl-nav button.owl-prev::before {
    content: "" !important;
    width: 30px;
    height: 30px;
    background: url('../images/left.png') no-repeat;
    top: 10px;
    right: 5px;
    display: inline-block;
}

.owl-carousel .owl-nav button.owl-prev span, .owl-carousel .owl-nav button.owl-next span {
    display: none;
}

.owl-carousel .owl-nav button.owl-next::before {
    content: "" !important;
    width: 30px;
    height: 30px;
    background: url('../images/right.png') no-repeat;
    top: 10px;
    right: 5px;
    display: inline-block;
}

.react-multiple-carousel__arrow {
    background-color: transparent !important;
}
.owl-theme .owl-nav button{
    margin: 50px 20px 0  20px!important;
}

.owl-theme .owl-nav [class*='owl-']:hover{
    background-color: transparent !important;
}
