.react-multiple-carousel__arrow--left::before {
    content: "" !important;
    width: 30px;
    height: 30px;
    background: url('../images/left.png') no-repeat;
    top: 10px;
    right: 5px;
    position: absolute;
    display: inline-block;
}

.react-multiple-carousel__arrow--right::before {
    content: "" !important;
    width: 30px;
    height: 30px;
    background: url('../images/right.png') no-repeat;
    top: 10px;
    right: 5px;
    position: absolute;
    display: inline-block;
}

.react-multiple-carousel__arrow {
    background-color: transparent !important;
}
