/*Global Css*/

body {
    background-color: #0A0B0E !important;
    font-family: 'Helvetica Neue', serif !important;
}

ul, ol {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a:hover {
    text-decoration: none !important;
}

a, h1, h2, h3, h4, h5, span, p {
    color: #ffffff;
    padding: 0;
    margin: 0 !important;
}

.h1, h1 {
    font-size: 2rem !important;
}

button:focus, button:hover, button:active, input:focus {
    outline: none !important;
    box-shadow: none !important;
}

header.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #0A0B0E !important;
    z-index: 99;
}

.header-browse {
    float: left;
    font-size: 10px;
    color: #dbd2d2;
    font-weight: 500;
    margin-left: 25px !important;
    transition: 0.3s;
}

.navbar {
    padding: 1rem !important;
}

.navbar-expand .navbar-nav .header-button.nav-link {
    padding: 8px 16px;
    background-color: #3061db;
    color: #ffffff;
    font-size: 11px;
    border-radius: 30px;
    font-weight: 600;
    margin-left: 10px !important;
    transition: 0.3s;
    box-shadow: 0 0 4px 2px rgba(221, 221, 221, 0.1);
}

.navbar-expand .navbar-nav .header-button.nav-link:hover {
    box-shadow: 0 0 7px 3px rgba(180, 167, 167, 0.10) !important;
    background-color: #3A6EF1 !important;
}


.default-button {
    float: left;
    padding: 16px 44px !important;
    background-color: #3061db;
    color: #ffffff;
    font-size: 14px;
    border-radius: 30px;
    font-weight: 600;
    transition: 0.3s;
}

.default-button:hover {
    box-shadow: 0 0 7px 3px rgba(180, 167, 167, 0.10);
}

.default-button:hover, .default-button:focus {
    outline: none;
    background-color: #3A6EF1 !important;
    color: #ffffff !important;
    text-decoration: none;
}

.header-logo img {
    height: 28px;
}

.navbar-dark .navbar-nav .nav-link {
    transition: 0.3s;
}

.nav-link.effect:hover {
    text-shadow: 0 0 1px #ddd !important;
    font-weight: 500 !important;
    letter-spacing: .2px;
    color: #ffffff;
}

.section-heading p {
    float: left;
    width: 100%;
    margin-top: 20px !important;
    max-width: 600px;
    font-size: 14px !important;
    text-align: center;
}

/* section1 Style*/
.banner {
    float: left;
    width: 100%;
    padding: 60px 0;
    background-color: #1C1C1C !important;
}

.banner.dark-back {
    background-color: #0A0B0E !important;
}

.banner-content h1 {
    font-weight: bold;
}

.banner-content p {
    font-size: 14px;
    font-weight: 500;
    padding: 30px 0;
}

.coaches-feat h2 {
    font-size: 14px;
    margin-bottom: 40px !important;
    text-transform: uppercase;
}

/* section2 Style*/

.choose-course ul li {
    height: 40px;
}

.choose-course ul li:first-child a {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.choose-course ul li:last-child a {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.choose-course ul li a {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 40px;
    font-size: 14px;
    color: #0A0B0E;
    font-weight: 500;
    background-color: #ffffff;
}

.choose-course ul li.active a {
    background-color: #3A6EF1 !important;
    color: #ffffff;
}

.slider {
    float: left;
    width: 100%;
    margin-top: 50px;
}

/* section3 Style*/

.goal-step{
    float: left;
    width: 100%;
}
.goal-step-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goal-step-item img {
    width: 70px;
}

.goal-step-item span {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 0;
}

.goal-step-item p {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

/* section4 Style*/
.classes-creator {
    float: left;
    width: 100%;
    padding: 60px 0;
    background-color: #ffffff;
}

/* section5 Style*/
.get-access {
    float: left;
    width: 100%;
    padding: 60px 0;
    background-color: #1C1C1C !important;
}

.get-access .default-button {
    background-color: #ffffff;
    color: #1C1C1C;
}

.get-access .default-button:hover, .get-access .default-button:focus {
    background-color: #ffffff !important;
    color: #1C1C1C !important;
}

/* section 6 Style */

.faq-item {
    float: left;
    width: 100%;
}

/*FOOTER SECTION*/

.footer {
    float: left;
    width: 100%;
    background-color: #0A0B0E !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #dddddd !important;
    font-size: 14px;
    padding: 60px 0;
}

.footer ul li:first-child {
    margin-bottom: 30px;
    font-weight: 600;
}

.footer ul li {
    line-height: 24px;
}

.footer ul li a {
    font-size: 12px;
    color: #ffffff;
}

.footer ul.download-app li img {
    width: 120px;
}

.footer ul.signup-list img {
    margin-right: 10px;
    width: 13px;
}

.footer-form input {
    height: 40px;
    border-radius: 20px;
    font-size: 12px !important;
    font-weight: 600;
}

.footer-form input::placeholder {
    color: #dddddd;
}

.footer-form button.input-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    border-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 14px;
}

.copyright {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.copyright span {
    font-size: 12px;
}

.copyright ul {
    display: flex;
    flex-direction: row;
    margin: 0 !important;
}

.copyright ul li {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.footer .copyright ul li:first-child {
    margin-bottom: 0 !important;
}

.copyright ul li img {
    width: 20px;
}

.mobileScreen.d-flex {
    display: none !important;
}

/*bootstrap Style*/
.container {
    max-width: 940px !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff !important;
    font-size: 11px;
    font-weight: 500;
}

.custom-dot-list-style {
    display: none !important;
}

.react-multi-carousel-item .item:hover {
    zoom: 1;
}

.react-multi-carousel-item .item {
    position: relative;
}

.react-multi-carousel-item .item img {
    width: 100%;
}

.yourGoalSlide .react-multi-carousel-item .item .slide-overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 3, 3, 0.6196078431372549);
    transition: .4s;
    cursor: pointer;
}

.yourGoalSlide .react-multi-carousel-item .item:hover .slide-overlay {
    opacity: 0 !important;
    visibility: hidden;
}

.yourGoalSlide .react-multi-carousel-item .item img {
    transition: transform 2s;

}

.yourGoalSlide .react-multi-carousel-item .item:hover img {
    transform: scale(1.1);
    position: relative;
    z-index: 99 !important;
}

.yourGoalSlide .react-multi-carousel-item {
    transform-style: unset !important;
}

.item span {
    float: left;
    width: 100%;
    color: #0A0B0E !important;
    font-size: 14px;
}

.item span:first-child {
    font-weight: 600;
    margin-top: 10px !important;
}

.about-item-container {
    padding: 15px;
}

.about-item {
    box-shadow: 0 0 8px 5px rgba(202, 191, 191, 0.20);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px;
    position: relative;
}

.slider-social-link {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 9;
}

.slider-social-link img {
    width: 30px !important;
    height: 30px !important;
    box-shadow: none !important;
}

.about-item img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    border-radius: 60px;
    box-shadow: 0 0 6px 1px #c8c8c8;
}

.about-item span {
    float: left;
    width: 100%;
    color: #0A0B0E;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 15px !important;
    text-align: center;
}

.about-item p {
    color: #0A0B0E;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
}

.accordion__item {
    margin-bottom: 10px;
}

.accordion__button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #303030 !important;
    color: #ffffff !important;
}

.accordion__button:before {
    display: none !important;
}

.accordion__button:focus {
    outline: none;
    box-shadow: none !important;
}

.accordion__button[aria-expanded='true']::after, .accordion__button[aria-selected='true']::after {
    transform: rotate(45deg);
}

.accordion__button:after {
    display: inline-block;
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 12px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg);
}

.accordion__panel {
    background-color: #303030 !important;
    color: #ffffff !important;
    border-top: solid 2px #1b1b1b;
}


/*.accordion > .card:not(:last-of-type) {*/
/*    border-radius: 0 !important;*/
/*    margin-bottom: 10px;*/
/*    background-color: transparent !important;*/
/*}*/

/*.accordion > .card > .card-header {*/
/*    background-color: #303030;*/
/*    color: #ffffff;*/
/*    font-size: 14px;*/
/*    border-radius: 0 !important;*/
/*    cursor: pointer;*/
/*}*/

/*.collapse.show ~ .card-header {*/
/*    background-color: #ffffff !important;*/
/*}*/

/*.collapse .card-body {*/
/*    background-color: #303030;*/
/*    color: #fff;*/
/*    margin-top: 4px;*/
/*    font-size: 14px;*/
/*}*/

/*.card {*/
/*    background-color: transparent !important;*/
/*}*/

/* width */

.react-multiple-carousel__arrow:hover, .react-multiple-carousel__arrow {
    background: transparent !important;
}
