@media only screen  and (min-width: 1600px) {
    a {
        font-size: .97vw;
        transition: .4s;
    }

    h1 {
        font-weight: 900;
        font-size: 4.4vw;
        line-height: 5vw;
    }

    p {
        font-size: 1.44vw;
        line-height: 2vw;
    }

    .defaultButton {
        border-radius: 50px;
        height: 54px;
        font-size: 18px;
        line-height: 54px;
    }


    .container {
        max-width: 94% !important;
    }

    header.header {
        width: 100%;
        height: 80px;
    }

    header .headerLogo {
        font-size: 1.64vw;
        line-height: 1.7vw;
        margin-right: 20px !important;
    }

    header .headerLogo span {
        font-size: 32px;
    }

    .header .header-browse {
        font-size: .97vw;
        line-height: 1vw;
        letter-spacing: 0.04em;
    }

    .navbar-dark .navbar-nav .nav-link {
        font-size: .97vw;
        line-height: 16px;
        letter-spacing: 0.04em;
    }

    .header-button {
        border: 1px solid #FFFFFF;
        border-radius: 4px;
        padding: 10px 14px !important;
        margin-left: 30px !important;
    }

    /* section1 Style*/
    .bannerSection {
        height: calc(100vh - 80px);
        margin-top: 80px;
    }

}

@media only screen  and (max-width: 600px) {
    .container {
        max-width: 100%;
    }

    h1 {
        font-size: 48px;
    }

    .bannerOverlay > div {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0 40px;
    }

    header.header.show.mobile {
        display: inline-block;
    }

    header.header.show.pc {
        display: none;
    }

    .bannerSection {
        height: 700px;
        text-align: center;
    }

    .bannerOverlay {
        padding-bottom: 270px;
    }

    .bannerImage img {
        width: auto;
        height: 700px;
    }

    .bannerLogos {
        height: auto;
        padding: 20px 10px 70px;
    }

    .bannerLogos ul {
        flex-wrap: wrap;
        justify-content: center !important;
    }

    .bannerLogos ul li {
        margin: 10px 20px;
    }

    .exploreSection .float-left.w-100.text-center {
        padding: 0 15px;
    }

    .faqSection .float-left.w-100.text-center {
        padding: 0 15px;
    }

    h2 {
        line-height: 42px !important;
    }

    .waitingSection h2 {
        line-height: 52px !important;
    }

    .faqSection .float-left.w-75.mt-5 {
        width: 100% !important;
        padding: 0 20px;
    }

    .leftRightContent .row.pc {
        display: none;
    }

    .leftRightContent .row.mobile {
        display: inline-block;
    }

    .leftRightContent .row .col-md-6 {
        text-align: center;
        max-width: 100%;
    }

    .leftRightContent .row .col-md-6 img {
        margin-bottom: 30px;
    }

    .leftRightContent .row .col-md-6:first-child {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img.centerLine {
        display: inline-block;
    }

    .leftRightContent .py-5 {
        padding: 0 !important;
    }

    .sectionLine {
        display: none;
    }

    .exploreTab ul {
        overflow: auto;
        padding: 0 15px 10px 15px;
    }

    .rating.mt-5.float-left.w-100.d-flex.flex-row.justify-content-center.align-items-start {
        flex-wrap: wrap;
    }

    .res-100 {
        width: 100%;
    }

    .waitingSection .mt-5 {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .waitingSection a.defaultButton.lightButton.mr-4 {
        margin-right: 0 !important;
        margin-bottom: 15px !important;
    }

    .header .header-browse {
        font-size: 20px;
        height: 80px;
        line-height: 80px;
        padding: 0;
    }


    .header-links__dropdown__content {
        left: inherit;
        right: 0;
    }

    .header-links__dropdown__content li {
        float: left;
        width: 100%;
    }

    .header-links__dropdown__content .header-browse {
        width: 100%;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        height: auto !important;
        line-height: 34px !important;
        color: #000000;
        padding-left: 15px;
        padding-right: 10px;
    }

    .header-browse:hover .header-links__dropdown__content {
        left: inherit;
        right: 0;
        top: 78px;
        max-height: 90vh;
    }

    .header-links__dropdown__content .header-browse .header-links__dropdown__content {
        position: inherit !important;
        top: inherit !important;
        float: left;
        width: 100%;
        opacity: 0;
        z-index: -1;
        overflow: hidden;
        max-height: 0;
    }

    .header-links__dropdown__content .header-browse .header-links__dropdown__content a {
        padding: 0 !important;
    }

    .header-links__dropdown__content .header-browse:hover .header-links__dropdown__content {
        opacity: 1;
        z-index: 9;
        overflow: hidden;
        max-height: 90vh;
    }

    .header-browse:hover .header-links__dropdown__content {
        line-height: 30px !important;
    }

    .header-button {
        border: 1px solid #1d1d1f;
        padding: 6px 14px !important;
        margin: 9px 14px !important;
        float: left;
        transition: .4s;
    }

    .header-button:hover {
        background-color: #1d1d1f;
        color: #ffffff !important;
    }

    .exploreSection {
        padding-bottom: 0 !important;
    }

    .exploreTab.mobile {
        display: inline-block;
        border-bottom: none;
        margin-bottom: 0;
    }

    .carousel-container.pc {
        display: none;
    }

    .exploreTab.mobile {
        width: 100%;
    }

    .exploreTab.mobile .item {
        height: 200px;
        overflow: hidden;
        position: relative;
    }

    .exploreTab.mobile .explore-cover {
        width: 100%;
    }

    .exploreTab .header-button {
        border-color: #ffffff !important;
        color: #ffffff !important;
        font-size: 14px;
    }

    .exploreTab .header-button:hover:before {
        display: none !important;
    }

    .meetCoaches .header-button {
        border-color: #ffffff !important;
        color: #ffffff !important;
        font-size: 14px;
    }

    .header-links__dropdown__content a.header-button {
        width: auto !important;
    }

    .sliderOverlay {
        background-color: transparent !important;
    }

    .item:hover .sliderOverlay {
        opacity: 1 !important;
        visibility: visible;
    }

    .stickyHeader .header-browse {
        display: inherit;
    }

    .sweetImages li:first-child {
        transform: matrix(1, 0, 0, 1, -40, 0);
    }

    .sweetImages li:last-child {
        transform: matrix(1, 0, 0, 1, 40, 0);
    }
}
