@media only screen  and (max-width: 768px) {
    .banner {
        padding-left: 15px;
        padding-right: 15px;
    }

    .choose-course ul {
        width: 100%;
        overflow: scroll;
    }

    .coaches-feat.d-flex {
        display: none !important;
    }

    .default-button {
        margin-bottom: 20px !important;
    }

    .section-heading {
        text-align: center;
    }

    .pcScreen.d-flex {
        display: none !important;
    }

    .mobileScreen.d-flex {
        display: inline-block !important;
    }

    ul.react-multi-carousel-track {
        text-align: center;
    }

    .copyright {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-logo img {
        height: 24px;
    }

    .goal-step .col-md-3 {
        margin-bottom: 30px;
    }

    .goal-step .col-md-3:last-child {
        margin-bottom: 10px;
    }

    .mobileScreen .pl-5.col-md-6 {
        padding-left: 0 !important;
    }
    .accordion__button span {
        max-width: 90%;
    }
}
