@media only screen  and (max-width: 768px) {
    .banner {
        padding-left: 15px;
        padding-right: 15px;
    }

    .choose-course ul {
        width: 100%;
        overflow: scroll;
    }

    .coaches-feat.d-flex {
        display: none !important;
    }

    .default-button {
        margin-bottom: 20px !important;
    }

    .section-heading {
        text-align: center;
    }

    .pcScreen.d-flex {
        display: none !important;
    }

    .mobileScreen.d-flex {
        display: inline-block !important;
    }

    ul.react-multi-carousel-track {
        text-align: center;
    }
    .copyright{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
